/*
* @Author: zeng
* @Date:   2018-01-23 11:08:45
* @Last Modified by:   zeng
* @Last Modified time: 2018-01-23 11:59:14
*/

/* 侧导航主体 */
.nav-side{
    float: left;
    width: 130px;
    /*这里注意宽度和高度都需要设置才会在加载的时候占据位置*/
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}