/*
* @Author: zeng
* @Date:   2018-01-22 20:33:34
* @Last Modified by:   zeng
* @Last Modified time: 2018-01-24 16:08:39
*/
.nav-simple {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff
}

.nav-simple .logo {
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}